/*
	This file contains the CSS code associated to the widget hpe-hello-world.
	All the CSS code in this file should be like:
		
	.hello-world-widget a-CSS-selector {
		CSS rules
	}
*/
.hpe-dataflow-control-widget {

}

.hpe-dataflow-control-widget p {
	font-size: 1.4em;
}

.hpe-dataflow-control-widget .scrollable {
	max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.custom-area {
	width: 100%;
 margin: 5px;
 padding : 5px;
}

.hpe-dataflow-control-widget label {
float : left;
margin-right: 20px;
}

.hpe-dataflow-control-widget .alert {
    background-color: #666666; 
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.hpe-dataflow-control-widget .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.hpe-dataflow-control-widget .closebtn:hover {
    color: black;
}