<div class="modal-header">
    <button type="button" class="close custom-area" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Modal title</h4>
</div>
<div class="modal-body">
    <p>One fine body&hellip;</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default custom-area" ng-click="$dismiss()">Close</button>
    <button type="button" class="btn btn-primary custom-area" ng-click="$close()">Save changes</button>
</div>